<% provide(:title, t(:sign_up)) %>
<h1><%= t(:sign_up) %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label t(:name) %>
      <%= f.text_field :name %>

      <%= f.label t(:email) %>
      <%= f.text_field :email %>

      <%= f.label t(:password) %>
      <%= f.password_field :password %>

      <%= f.label t(:password_confirmation) %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit t(:create_my_account), class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>